.window-control {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: grey;
  -webkit-app-region: no-drag;
  vertical-align: baseline;
}

.window-control > svg {
  display: block;
  visibility: hidden;
}

.window-controls:hover svg {
  visibility: visible;
}
